@include NotOption("userChrome.tabbar.one_liner") {
  @include Option("userChrome.tabbar.on_bottom", "userChrome.hidden.tabbar") {
    @import "layout/window_control";
  }
}
@include Option("userChrome.tabbar.one_liner") {
  @include NotOption("userChrome.tabbar.one_liner.responsive") {
    @include Option("userChrome.tabbar.one_liner.tabbar_first") {
      @import "layout/window_control";
    }
  }
  @include Option("userChrome.tabbar.one_liner.responsive") {
    @include Option("userChrome.tabbar.on_bottom", "userChrome.hidden.tabbar") {
      @media screen and (max-width: 1100px) {
        @import "layout/window_control";
      }
    }
    @include Option("userChrome.tabbar.one_liner.tabbar_first") {
      @media screen and (min-width: 1100px) {
        @import "layout/window_control";
      }
    }
  }
}

@import "layout/navbar_padding";
